
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$brac-demo-project-primary: mat.define-palette(mat.$indigo-palette);
$brac-demo-project-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$brac-demo-project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$brac-demo-project-theme: mat.define-light-theme((
  color: (
    primary: $brac-demo-project-primary,
    accent: $brac-demo-project-accent,
    warn: $brac-demo-project-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($brac-demo-project-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f1f2ee;
}
.nav-link{
}
.nav-link.active{
  color: #ff229a !important;
}
.pink-bg-color{
  background-color: #ff229a;
}
.pink-color{
  color: #ff229a;
}
.round-100px{
  border-radius:100px;
}
.border-pink{
  border: 1px #ff229a solid;
}
.border-green{
  border: 1px #17a2b8 solid;
}

.border-pink:hover{
  border: 1px #dc3545 solid;
}
body{
  font-family: 'Helvetica';
  font-weight: normal;
}
.sticky-top {
  position: sticky;
  top: 0px;
  left: 0px;
  right: 0px;
}
.sticky-bottom {
  position: sticky;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.add-background{
  position: absolute;
  top: 12px;
  right: 5px;
}
.contain{
  position: relative;
  text-align: center;
  color: white;
}
.slick-arrow{
  display: none!important;
}
.width-less{
  width: calc(100% - 385px);
}
.left-menu{
  background-color: #fff1fa;
}
.left-menu-color{
  background-color: white;
}
.left-menu-color:hover{
  background-color: #fff1fa;
}
.left-menu-text{
  color: rgb(51, 49, 49);
}
.left-menu-text:hover{
  color: #ff229a;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
