<div>
  <div class='h-8 bg-slate-900 text-slate-200 flex flex-row-reverse lg:pe-20'>
    <div class='flex mx-lg-2'>
      <svg class="mt-1 ms-4 me-1" width="20" height="26" fill='#FFFFFF' xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 512 512">
        <path
          d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/>
      </svg>
      <div class='py-2'>
        <p class='text-xs lg:text-sm'>096-77-444-888</p>
      </div>
    </div>
    <div class='flex mx-lg-2'>
      <svg class="mt-1" width="20" height="26" fill='#FFFFFF' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
          d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"/>
      </svg>
      <div class='px-2 py-2'>
        <p class='text-xs lg:text-sm'>brac.erpsupport&#64;bracits.com</p>
      </div>
    </div>
  </div>
  <div>
    <div class="flex flex-col lg:flex-row justify-between sticky-top bg-white shadow-md">
      <div class="flex justify-between pink-bg-color py-1">
        @if (authenticate){
        <svg  xmlns="http://www.w3.org/2000/svg" class="ml-4 mt-2" width="35" height="50"
             viewBox="0 0 576 512" fill='#00000'>
          <path
            d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/>
        </svg>
        }
        <img ngSrc="./assets/content/images/brac-logo.png" alt="" width="120" height="45" class="h-14 lg:h-auto py-2 ml-4 lg:ml-14 mr-32">
        <button (click)="toggleMenu()" type="button" class="lg:hidden">
          <svg
            class="w-5 h-7 text-slate-900 mr-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 128 512"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M64 360a56 56 0 1 0 0 112 56 56 0 1 0 0-112zm0-160a56 56 0 1 0 0 112 56 56 0 1 0 0-112zM120 96A56 56 0 1 0 8 96a56 56 0 1 0 112 0z"
            />
          </svg>
        </button>
      </div>
      <div [ngClass]="isDropdownMenu? 'hidden lg:block md:w-auto py-2' : 'lg:block md:w-auto pb-0'">
        @if (authenticate){
        <ul class="flex flex-col lg:flex-row justify-end text-right">
          <li class="py-2 lg:py-4 pr-2 lg:pr-4">
            <button
              class="bg-transparent hover:text-red-500 pink-color font-semibold py-2 px-4 border-pink pink-color round-100px">
              Procurement
            </button>
          </li>
          <li class="py-1 lg:py-4 flex justify-end mr-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="mt-2"
              width="40"
              height="30"
              viewBox="0 0 448 512"
            >
              <path
                d="M224 0c-17.7 0-32 14.3-32 32V51.2C119 66 64 130.6 64 208v25.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V208c0-77.4-55-142-128-156.8V32c0-17.7-14.3-32-32-32zm0 96c61.9 0 112 50.1 112 112v25.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V208c0-61.9 50.1-112 112-112zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"/>
            </svg>
          </li>
          <li
            class="py-1 lg:py-4 text-right flex justify-end">
            <div class="ml-3 text-xl py-2 mr-3">
            </div>
          </li>
          <li class="hidden lg:block">
            <button
              id="dropdownDefaultButton"
              data-dropdown-toggle="dropdown"
              type="button"
              class="py-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="ml-5 mr-10 mt-3"
                width="50"
                height="25"
                aria-hidden="true"
                viewBox="0 0 448 512"
                fill="#c5c9cd"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"
                />
              </svg>
            </button>
          </li>
          <li class="block lg:hidden">
          </li>
        </ul>
        }
        <ul class="flex flex-col lg:flex-row justify-end py-4">
          <li class="text-md text-right pr-2 lg:pr-4 py-1">
            <a routerLink=""><b>HOME</b></a>
          </li>
          <li class="text-md text-right pr-2 lg:pr-4 py-1">
            <a href="https://www.brac.net/who-we-are" target="_blank"><b>ABOUT</b></a>
          </li>
          <li class="text-md text-right pr-2 lg:pr-4 py-1">
            <a href="https://www.brac.net/who-we-are" target="_blank"><b>PARTNER SERVICES</b></a>
          </li>
          <li class="text-sm text-right py-2 lg:py-0 pr-2 lg:pr-4">
            <button
              class="bg-transparent hover:text-red-500 pink-color font-semibold py-1 px-4 border-pink pink-color round-100px">
              SIGN UP
            </button>
          </li>
          <li class="text-sm text-right py-2 lg:py-0 pr-2 lg:pr-14">
            <button
              class="bg-transparent hover:text-red-500 pink-color font-semibold py-1 px-4 border-pink pink-color round-100px">
              LOGIN
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="hidden lg:flex justify-end mr-12 ">
      <div class="bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 absolute">
      </div>
    </div>
  </div>
</div>
